@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body{
    font-family: 'Bebas Neue', cursive;
    background-color: #fff;
}
.logo img{
    width: 300px;
}
.home{
    margin-left: 500px;
}
.text-highlight{
    font-size: 80px;
    color: #FABE4C;
    font-family: 'Bebas Neue', cursive;
}
.text-highlight-color{
    font-size: 80px;
    color: #363958;
    font-family: 'Bebas Neue', cursive;  
}
.btn-color{
    color: #fff;
    background-color: #A4BC46;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
}
.bg-color{
    background-color: #FFFBF0;
}
.section-header{
    color: #363958;
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
}
.product-card.shadow {
    border: 0;
    border-radius: 10px;
}
.card-img{
    width: 100%; 
}
.card-img img{
    height: 400px;
    background-color: #F1F1F1;
    padding: 20px 40px;
    border-radius: 10px; 
}
.card-item{
    margin: 20px;
}
.card-title {
    margin-bottom: .5rem;
    font-size: 30px;
    color: #363958;
}
p {
    margin-bottom: 0;
    font-size: 18px;
    color: #3E3E3E;
}
.product-footer{
    border: 0;
    background-color: #fff;
}
.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    border: 0;
    background-color: #fff;
}
.currency{
    color:#FABE4C ;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.service-img{
    width: 100%;
    padding:30px  20px;
    margin: 20px 0;
}
.service-img img{
    width: 100%;
}
.categories img{
    width: 100px;
}